@import url(https://fonts.googleapis.com/css?family=DM+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700);
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,600,700);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
}

h2 {
  font-size: 5vw;
  line-height: 1.2em;
  font-weight: 700;
}

:root {
  --color-white: #ffffff;
  --color-white--rgb: 255, 255, 255;
  --color-main: #0c0822;
  --color-black: #000000;
  --color-blue: #5594D6;
  --color-violet: #D21B9A;
  --color-dirty: #4d4d4d;
}

body {
  font-family: Plus Jakarta Sans;
  background-color: var(--color-main);
  color: var(--color-white);
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  max-width: 87.5vw;
  margin: 0 auto;
}

.colored {
  background: linear-gradient(90deg, var(--color-blue) 5.53%, var(--color-violet) 99.84%);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  display: inline-block;
}
.colored-btn {
  display: inline-block;
  background: linear-gradient(90deg, var(--color-blue) 5.53%, var(--color-violet) 99.84%);
  color: var(--color-white);
  font-size: 1.39vw;
  font-weight: 700;
  line-height: 1.2em;
  padding: 1em 2.75em;
  background-clip: border-box;
  border-radius: 0.83vw;
}

.header {
  position: absolute;
  top: 2.78vw;
  left: 0;
  z-index: 10;
  width: 100%;
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 5vw;
}
.header-nav {
  display: inline;
  margin-right: auto;
}
.header-nav--list {
  display: flex;
  flex-direction: row;
  gap: 3.75vw;
}
.header-nav--li {
  font-size: 1.25vw;
  line-height: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-nav--li.active {
  font-weight: 700;
}
.header-nav--li:hover {
  color: rgba(var(--color-white--rgb), 0.8);
}
.header-button {
  color: var(--color-black);
  font-size: 1.11vw;
  font-weight: 700;
  padding: 1em 2.8em;
  background-color: var(--color-white);
  border-radius: 0.83vw;
  transition: all 0.3s ease;
}
.header-button:hover {
  background-color: rgba(var(--color-white--rgb), 0.8);
}

.mainscreen {
  padding-top: 180px;
}
.mainscreen-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainscreen-top {
  display: flex;
  flex-direction: row;
  margin-bottom: 172px;
}
.mainscreen-info {
  flex: 0 0 50%;
  padding: 60px 3.125vw 70px 0;
  box-sizing: border-box;
}
.mainscreen-name {
  text-transform: uppercase;
  font-size: 1.39vw;
  line-height: 1.2em;
  font-weight: 700;
  letter-spacing: 0.64em;
  margin-bottom: 17px;
}
.mainscreen-title {
  margin-bottom: 17px;
}
.mainscreen-text {
  font-size: 1.04vw;
  line-height: 1.2em;
  margin-bottom: 35px;
}
.mainscreen-button {
  margin-bottom: 60px;
}
.mainscreen-prises {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.mainscreen-prises--item {
  height: 2.78vw;
}
.mainscreen-prises--item img {
  height: 75%;
}

.count .count-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1.74vw;
  border: 1px solid rgba(var(--color-white--rgb), 0.33);
  background: rgba(var(--color-white--rgb), 0.1);
  box-shadow: 0px -3.7px 22.2px rgba(6, 5, 31, 0.1), inset 0px 0.7px 0.37px rgba(var(--color-white--rgb), 0.5);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.count .count-item {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 25%;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  box-sizing: border-box;
}
.count .count-item:not(:first-child)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background: linear-gradient(180deg, #5594D6 5.53%, #D21B9A 99.84%);
}
.count .count-item--number {
  font-weight: 700;
  font-size: 3.125vw;
  line-height: 1.2em;
  text-transform: uppercase;
}
.count .count-item--text {
  font-size: 1.04vw;
  line-height: 1.2em;
}