// Null styles ========================
@import "_null.scss";

// Fonts ==============================
@import url(https://fonts.googleapis.com/css?family=DM+Sans:700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700);
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,600,700);

h2 {
    font-size: 5vw;
    line-height: 1.2em;
    font-weight: 700;
}

// Animations =========================
@keyframes reduce_arrow {
    from { d:"M12 18C12 18 11 18 11 18C11 19 12 19 12 19L12 18ZM26 19C26 19 26 18 26 18L21 13C21 13 20 13 20 13C20 14 20 14 20 14L24 19L20 23C19 23 20 24 20 24C20 24 20 24 21 24L26 19ZM12 19L25 20L25 18L12 18L12 19Z"; }
    to { d:"M4 18.25C3.58579 18.25 3.25 18.5858 3.25 19C3.25 19.4142 3.58579 19.75 4 19.75L4 18.25ZM34.5303 19.5303C34.8232 19.2374 34.8232 18.7626 34.5303 18.4697L29.7574 13.6967C29.4645 13.4038 28.9896 13.4038 28.6967 13.6967C28.4038 13.9896 28.4038 14.4645 28.6967 14.7574L32.9393 19L28.6967 23.2426C28.4038 23.5355 28.4038 24.0104 28.6967 24.3033C28.9896 24.5962 29.4645 24.5962 29.7574 24.3033L34.5303 19.5303ZM4 19.75L34 19.75L34 18.25L4 18.25L4 19.75Z"; }
}

// Colors =============================
:root {
    --color-white: #ffffff;
    --color-white--rgb: 255, 255, 255;
    --color-main: #0c0822;
    --color-black: #000000;
    --color-why--bg: #1E1B31;
    --color-why--item: #0A071B;
    --color-blue: #5594D6;
    --color-blue--rgb: 85, 148, 214;
    --color-violet: #D21B9A;
    --color-violet--rgb: 210, 27, 154;
    --color-dirty: #4d4d4d;
}

// Main styles ========================
body {
    font-family: Plus Jakarta Sans;
    background-color: var(--color-main);
    color: var(--color-white);
    overflow-x: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}
.container {
    max-width: 87.5vw;
    margin: 0 auto;
}
.colored {
    background: linear-gradient(90deg, var(--color-blue) 5.53%, var(--color-violet) 99.84%);
    background-clip: text;
    color: transparent;
    display: inline-block;
    &-btn {
        display: inline-block;
        background: linear-gradient(90deg, var(--color-blue) 5.53%, var(--color-violet) 99.84%);
        color: var(--color-white);
        font-size: 1.39vw;
        font-weight: 700;
        line-height: 1.2em;
        padding: 1em 2.75em;
        background-clip: border-box;
        border-radius: 0.83vw;
    }
}


// Header =============================
.header {
    position: absolute;
    top: 2.78vw;
    left: 0;
    z-index: 10;
    width: 100%;
    &-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-logo {
        // height: 100%;
        width: fit-content;
        margin-right: 5vw;
    }
    &-nav {
        display: inline;
        margin-right: auto;
        &--list {
            display: flex;
            flex-direction: row;
            gap: 3.75vw;
        }
        &--li {
            font-size: 1.25vw;
            line-height: 1.2em;
            cursor: pointer;
            transition: all .3s ease;
            &.active {
                font-weight: 700;
            }
            &:hover {
                color: rgba(var(--color-white--rgb),0.8);
            }
        }
    }
    &-button {
        color: var(--color-black);
        font-size: 1.11vw;
        font-weight: 700;
        padding: 1em 2.8em;
        background-color: var(--color-white);
        border-radius: 0.83vw;
        transition: all .3s ease;
        &:hover {
            background-color: rgba(var(--color-white--rgb),0.8);
        }
    }
}

// Mainscreen =========================
.mainscreen {
padding-top: 180px;
    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-top {
        display: flex;
        flex-direction: row;
        margin-bottom: 172px;
    }
    &-info {
        flex: 0 0 50%;
        padding: 60px 3.125vw 70px 0;
        box-sizing: border-box;
    }
    &-name {
        text-transform: uppercase;
        font-size: 1.39vw;
        line-height: 1.2em;
        font-weight: 700;
        letter-spacing: 0.64em;
        margin-bottom: 17px;
    }
    &-title {
        margin-bottom: 17px;
    }
    &-text {
        font-size: 1.04vw;
        line-height: 1.2em;
        margin-bottom: 35px;
    }
    &-button {
        margin-bottom: 60px;
    }
    &-prises {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &--item {
            height: 2.78vw;
            & img {
                height: 75%;
            }
        }
    }
    &-hand {
        flex: 1 1 50%;
    }
}
.hand {
    position: relative;
    &-bg {
        width: 100%;
        height: 100%;
        position: relative;
        & img {
            position: absolute;
            top: -24%;
            left: -8%;
            height: 132%;
        }
    }
    &-img{
        position: absolute;
        top: -16%;
        left: 0;
        height: 150%;
        & img {
            height: 100%;
        }
    }
    &-wrapper {
        position: absolute;
        top: -50%;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    &-card {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 11.45vw;
        height: 23.73vw;
        padding: 2%;
        box-sizing: border-box;
        background: rgba(var(--color-white--rgb), 0.15);
        box-shadow: inset 0px 3px 30px rgba(var(--color-white--rgb), 0.2), inset 0px 0.76px 30px rgba(var(--color-white--rgb), 0.2);
        backdrop-filter: blur(12px);
        border-radius: 0.83vw;
        font-weight: 700;
        font-size: 1.25vw;
        line-height: 1.2em;

        &--header {
            height: 1em;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
        &--circles {
            height: 1em;
            display: inline-block;
            & span {
                display: inline-block;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                &:not(:first-child) {
                    margin-left: -0.5em;
                }
                &:nth-child(1){
                    background: linear-gradient(90deg, rgba(var(--color-white--rgb), 1), rgba(var(--color-white--rgb), 0.8));
                }
                &:nth-child(2){
                    background: linear-gradient(90deg, rgba(var(--color-white--rgb), 0.8), rgba(var(--color-white--rgb), 0.6));
                }
                &:nth-child(3){
                    background: linear-gradient(90deg, rgba(var(--color-white--rgb), 0.6), rgba(var(--color-white--rgb), 0.4));
                }
                &:nth-child(4){
                    background: linear-gradient(90deg, rgba(var(--color-white--rgb), 0.4), rgba(var(--color-white--rgb), 0.2));
                }
            }
        }
        &--dots {
            display: flex;
            flex-direction: row;
            gap: 0.2em;
            & span {
                border-radius: 50%;
                background: var(--color-white);
                width: 0.2em;
                height: 0.2em;
            }
        }
        &--image {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 60%;
            border-radius: 0.83vw;
            overflow: hidden;
            & img {
                height: 100%;
                object-fit: cover;
            }
        }
        &--title {
            text-align: right;
            align-self: flex-end;
            width: 50%;
        }
        &:first-child {
            transform: matrix(-0.2, 1.12, 0.78, 0.46, 0, -10);
            width: 11.45vw;
            height: 23.73vw;
        }
        &:nth-child(2) {
            transform: matrix(-0.49, -0.75, -1.12, 0.26, 100, -100);
            width: 9.34vw;
            height: 19.24vw;
            font-size: 1vw;
        }
        &:last-child {
            transform: matrix(-0.52, 0.75, 1.05, 0.39, 100, -240);
            width: 7.53vw;
            height: 15.3vw;
            margin-left: 100px;
            padding: 0.7vw;
            font-size: 0.8vw;
        }
    }
}

// Count ==============================
.count {
    margin-top: -80px;
    .count-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 1.74vw;
        border: 1px solid rgba(var(--color-white--rgb),0.33);
        background: rgba(var(--color-white--rgb),0.1);
        box-shadow: 0px -3.7px 22.2px rgba(6, 5, 31, 0.1), inset 0px 0.7px 0.37px rgba(var(--color-white--rgb), 0.5);
        backdrop-filter: blur(6px);
    }
    .count-item {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        flex: 0 0 25%;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        box-sizing: border-box;
        &:not(:first-child)::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background: linear-gradient(180deg, #5594D6 5.53%, #D21B9A 99.84%)
        }
    }
    .count-item--number {
        font-weight: 700;
        font-size: 3.125vw;
        line-height: 1.2em;
        text-transform: uppercase;

    }
    .count-item--text {
        font-size: 1.04vw;
        line-height: 1.2em;
    }
}

// Demo ===============================
.demo {
    padding-top: 150px;
    margin-bottom: 90px;
    .demo-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
    .demo-title {
        text-align: center;
        width: 65%;
        margin-bottom: 35px;
    }
    .demo-btn {
        margin-bottom: 80px;
    }
    .demo-preview {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        border-radius: 2.22vw;
        border: 1px solid var(--color-white);

        & img {
            margin: 1.73vw;
            width: 100%;
            border-radius: 0.83vw;
        }
    } 
}

// Features ===========================
.features {
    padding-top: 100px;
    margin-bottom: 14.79vw;
    &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-title {
        margin-bottom: 8.33vw;
    }
    &-bg {
        position: absolute;
        top: 14.3vw;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -5;
        & img {
            width: 100%;
        }
    }
    &-template {
        width: 100%;
        height: 47.08vw;
        display: flex;
        flex-direction: row;
        &--side {
            flex: 0 0 50%;
            display: flex;
            flex-direction: column;
            gap: 9vw;
            &:last-child {
                align-items: flex-end;
                padding-top: 6.5vw;
            }
        }
    }
    &-item {
        display: flex;
        flex-direction: row;
        gap: 0.97vw;
        &--icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 3.89vw;
            height: 3.89vw;
            border-radius: 1.11vw;
            background: linear-gradient(178.27deg, var(--color-blue) 4.22%, var(--color-violet) 143.51%);
            box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
            & img {
                width: 50%;
                height: 50%;
            }
        }
        &--info {
            display: flex;
            flex-direction: column;
            gap: 14px;
        }
        &--title {
            font-weight: 700;
            font-size: 1.94vw;
            line-height: 1.2em;
            width: 13.5vw;
        }
        &--text {
            font-size: 1.25vw;
            line-height: 1.2em;
            width: 16vw;
        }
    }
}

// Why ================================
.why {
    &-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.68vw 5.49vw;
        margin-bottom: 15.625vw;
        box-sizing: border-box;
        background-color: var(--color-why--bg);
        border-radius: 1.74vw;
        &::before {
            content: '';
            position:absolute;
            top: -2px;
            left: -2px;
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            border-radius: 1.74vw;
            background: linear-gradient(to right, var(--color-blue), var(--color-violet));
            z-index: -10;
        }
    }
    &-title {
        margin-bottom: 6.74vw;
    }   
    &-template {
        display: flex;
        flex-direction: row;
        gap: 2.92vw;
    }
    &-item {
        flex: 1 1 auto;
        width: 100%;
        background-color: var(--color-why--item);
        border-radius: 1.875vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--title {
            padding: 0.97vw 2.92vw;
            display: inline-block;
            margin: -3.125vw 0 2.71vw;
            font-size: 2.36vw;
            line-height: 1.2em;
            font-weight: 700;
            background: linear-gradient(250deg, rgba(var(--color-white--rgb), 0.27) -24.77%, rgba(var(--color-white--rgb), 0) 105%);
            backdrop-filter: blur(1.11vw);
            border-radius: 1.39vw;
            border-inline: 2px solid rgba(var(--color-white--rgb), 0.33);
        }
        &--bg {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            & img {
                width: 55%;
            }
        }
        &--icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            & img {
                width: 20%;
            }
        }
        &--bottom {
            margin: 2.78vw 2.08vw;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2.08vw;
        }
        &--text {
            font-size: 1.11vw;
            line-height: 1.2em;
        }
        &--btn {
            & circle {
                transition: all .3s ease;
            }
            &:hover {
                & circle {
                    opacity: 0;
                }
                & path {
                }
            }
        }
    }
}